/* UTILITY */
.receiveMouse {
    pointer-events: all;
}

.ignoreMouse {
    pointer-events: none;
}

.body_panel {
    width: 100%;
}

/*----- STATUS BAR
-----------------------------------------------------------------*/

.div-econ-bar {
    height: 100px;
    width: 100%;
    font-family: 'Trebuchet MS';
    font-weight:bold;
    margin: -15px auto 0px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.div-metal {
    width: 360px;
    border-image: url('img/status_bar/img-econ-bar-left.png') 60 25 0 51 fill;
    border-width: 60px 25px 0px 51px;
    margin-right: 0px;
    position:relative;
}


.div-energy {
    width: 360px;
    border-image: url('img/status_bar/img-econ-bar-right.png') 60 51 0 25 fill;
    border-width: 60px 51px 0px 25px;
    margin-left: 0px;
    position:relative;
}

    .div-metal .contents, .div-energy .contents {
        height:30px;
        margin: -45px 0px 0px 0px;
        position:relative;
    }

.div-metal .contents {
    margin-left: 35px; 
    display: flex;
}

.div-energy .contents {
    margin-right: 0px;
    display: flex;
    justify-content: flex-end;
    padding-right: 94px;
}

.div-ap {
    height: 45px;
    width: 720px;
    background: url('img/status_bar/img-efficiency-bground.png') top center no-repeat;
    font-family: 'Trebuchet MS';
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px auto;
    padding: 16px 0px 0px 0px;
    position: absolute;
    z-index: 20;
}

.ap-box {
  box-shadow: none;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.ap-number {
    font-size: 16px;
    margin: 0px 0px 0px 0px;
}

.ap-text {
    margin: 1px 0px -4px 0px;
    text-transform: uppercase;
    color: #888;
    font-family: 'Sansation Bold';
    font-size: 10px;
    text-shadow: 0px 0px 20px #00B3FF;
}

.energy-per-metal {
    font-size: 8px;
    position: absolute;
    top: 0;
    color: #ccc;
}

.energy-per-metal {
    right: -10px;
}

.tooltip {
    font-weight: normal;
    max-width:none;
    line-height:1.2;
}

.build-power-block,
.energy-efficiency-block,
.metal-supply-block,
.build-efficiency-block,
.energy-demand-block,
.energy-supply-block,
.storage-block {
  width: 30px;
  height: 30px;
  vertical-align: top;
  border: 1px solid;
  border-radius: 4px;
  border-color: #ccc;
  position: relative;
}

.build-power-block,
.build-efficiency-block,
.energy-efficiency-block,
.energy-demand-block,
.energy-supply-block,
.metal-supply-block {
  font-size: 12px;
  text-align: center;
  padding-top: 8px;
  z-index: 20;
  background-color: #444;
  background-size: cover;
}

.build-power-block {
  background-image: url(coui://ui/main/game/live_game/img/build_bar/units/bot_factory.png);
}

.metal-supply-block {
  background-image: url(coui://ui/main/game/live_game/img/build_bar/units/metal_extractor.png);
}

.energy-efficiency-block img {
  position: absolute;
  top: 4px;
  left: 6px;
  width: 60%;
  height: 70%;
  opacity: 0.9;
  z-index: -1;
}

.energy-efficiency-number {
  color: black;
  z-index: 30;
}

.energy-demand-block {
  background-image: url(coui://ui/main/game/live_game/img/build_bar/units/fabrication_bot.png);
}
.energy-supply-block {
  background-image: url(coui://ui/main/game/live_game/img/build_bar/units/energy_plant.png);
}

.energy-demand-pipe,
.energy-supply-pipe,
.effective-applied-energy-pipe,
.metal-demand-pipe,
.effective-build-power-pipe,
.metal-supply-pipe,
.effective-applied-power-pipe {
  width: 30px;
  vertical-align: top;
  position: relative;
}

.energy-demand-flow,
.energy-supply-flow,
.effective-applied-energy-flow,
.metal-demand-flow,
.effective-build-power-flow,
.metal-supply-flow,
.effective-applied-power-flow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  width: 100%;
}

.metal-demand-flow {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.effective-build-power-flow {
  width: 500%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  z-index: 10;
}

.energy-demand-flow {
  right: 0;
  width: 500%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  z-index: 10;
}

.energy-supply-flow,
.effective-applied-energy-flow {
  background-color: #dd0;
}

.metal-supply-flow,
.effective-applied-power-flow {
  background-color: #488;
}

.energy-efficiency-block.rate-wasted {
  background-color: #6cf;
}

.energy-efficiency-block.rate-good {
  background-color: #0a0;
}

.energy-efficiency-block.rate-warning {
  background-color: #dd0;
}

.energy-efficiency-block.rate-danger {
  background-color: orange;
}

.energy-efficiency-block.rate-critical {
  background-color: red;
}


.ap-number.rate-wasted {
  color: #6cf;
}

.ap-number.rate-good {
  color: #0a0;
}

.ap-number.rate-warning {
  color: #dd0;
}

.ap-number.rate-danger {
  color: orange;
}

.ap-number.rate-critical {
  color: red;
}

.limit-metal-supply .metal-supply-block,
.limit-energy-supply .energy-supply-block,
.limit-metal-demand .build-power-block {
  border-width: 2px;
  border-color: yellow;
  background-color: red;
}

/****** Storage Section ******/

.storage-number {
  position: absolute;
  bottom: 0;
  font-size: 9px;
  text-align: center;
  width: 100%;
}

.storage-fill {
  height: 75%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.storage-block {
  background-color: #888;
  z-index: 20;
}

.storage-fill {
  background-color: white;
}

.storage-number {
  color: black;
}
